[Unit]
#  Session target for mango, used to scope systemd user services to a mango session only.

Description=MangoWM Session Target
Requires=graphical-session.target
After=graphical-session.target

